# Ambiente virtual
venv/

# Arquivos do sistema
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local
*.db

# Arquivos temporários
*.log
*.tmp

# Configurações do editor
.vscode/
.idea/

# Arquivos de imagem gerados
*.png
*.jpg
*.jpeg

# Arquivos do sistema operacional
.DS_Store
Thumbs.db
